# This is the hostname that we see in the grafana URL
GRAFANA_URL=https://your-grafana-instance.com

# Paste your full cookie: "grafana_session=xxx; grafana_session_expiry=xxx", get it by opening developer tools, network tab, open any succeeded query... request, get cookie in request headers
BROWSER_COOKIE=grafana_session=xxx; grafana_session_expiry=xxx

# Get UID from grafana link, there will be one field called datasource in URL, paste the value below.
LOKI_UID=your-loki-datasource-uid

# Your LogQL query
LOGQL_QUERY={alias="xxx",component="xxx"}

# Time range setup (format: YYYY-MM-DD HH:MM:SS)
START_TIME=2026-03-18 16:51:50
END_TIME=2026-03-19 01:35:59

# Since grafana allows only 5000 rows at max, try to fetch logs for smaller window, reduce it if limit of 5000 lines is reached
WINDOW_SIZE_MINUTES=5
